<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="AegisQA API Test Suite" parallel="methods" thread-count="4">
    
    <listeners>
        <listener class-name="io.qameta.allure.testng.AllureTestNg"/>
    </listeners>

    <test name="Authentication API Tests">
        <classes>
            <class name="com.aegisqa.tests.AuthenticationApiTest"/>
        </classes>
    </test>

    <test name="Account API Tests">
        <classes>
            <class name="com.aegisqa.tests.AccountApiTest"/>
        </classes>
    </test>

    <test name="Transfer API Tests">
        <classes>
            <class name="com.aegisqa.tests.TransferApiTest"/>
        </classes>
    </test>

</suite>
